{{ define "main" }}
<div class="page-narrow">
<div class="masthead">
  <h1>Archives</h1>
  <p>{{ len (where site.RegularPages "Section" "!=" "") }} posts</p>
</div>

{{ $posts := where site.RegularPages "Section" "!=" "" }}
{{ $groups := $posts.GroupByDate "2006" }}
{{ $last := sub (len $groups) 1 }}
{{ range $i, $g := $groups }}
  <section class="timeline-year">
    <h2 class="tl-year">{{ $g.Key }} <span class="tl-count">{{ len $g.Pages }}</span></h2>
    <ul class="tl-list">
      {{ range $g.Pages.ByDate.Reverse }}
        <li class="tl-item">
          <time class="tl-date" datetime="{{ .Date.Format "2006-01-02" }}"><b>{{ .Date.Format "02" }}</b> {{ .Date.Format "Jan" }}</time>
          <a class="tl-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </section>
  {{ if ne $i $last }}{{ with site.Params.adsenseSlotDisplay }}{{ partial "ad-unit.html" (dict "slot" .) }}{{ end }}{{ end }}
{{ end }}

{{ with site.Params.adsenseSlotMultiplex }}{{ partial "ad-unit.html" (dict "slot" . "format" "autorelaxed") }}{{ end }}
</div>
{{ end }}
