{{ define "main" }}
{{ $posts := where site.RegularPages "Section" "!=" "" }}
{{ $paginator := .Paginate ($posts.ByDate.Reverse) }}

<div class="layout-grid">
  {{ partial "sidebar-nav.html" . }}

  <div class="col-main">
    <div class="post-list">
      {{ $.Scratch.Set "curYear" "" }}
      {{ range $paginator.Pages }}
        {{ $.Scratch.Add "ci" 1 }}
        {{ $y := .Date.Format "2006" }}
        {{ if ne ($.Scratch.Get "curYear") $y }}
          <div class="feed-year-sep" aria-hidden="true"><span>{{ $y }}</span></div>
          {{ $.Scratch.Set "curYear" $y }}
        {{ end }}
        {{ partial "post-card.html" (dict "page" . "showCategory" true) }}
        {{ if and (eq (mod ($.Scratch.Get "ci") 6) 0) site.Params.adsenseSlotInFeed }}
          {{ partial "ad-unit.html" (dict "slot" site.Params.adsenseSlotInFeed "format" "fluid" "layoutKey" site.Params.adsenseFeedLayoutKey) }}
        {{ end }}
      {{ end }}
    </div>

    {{ partial "pager.html" $paginator }}
  </div>

  {{ partial "aside-meta.html" . }}
</div>
{{ end }}
